html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}

body {
  background: none;
  background-color: rgb(0, 162, 255);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 162, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

div {
  width: 100%;
  height: 100%;
  display: block;
}

#intro {
  font-family: "Anton", sans-serif;
  position: absolute;
  color: white;
  text-align: center;
  z-index: 100;
  user-select: none;
  height: 50px;
  top: 200px;
  font-size: 100px;
}

.response {
  font-family: "Anton", sans-serif;
  position: absolute;
  color: white;
  text-align: center;
  z-index: 100;
  user-select: none;
  height: 50px;
  transform: scale(1);
  transition: transform 0.3s ease-out;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.response:hover {
 
  transform: scale(1.5);
  transition: transform 0.2s ease-out;
}

.about {
  top: 350px;
}

.projects {
  top: 440px;
}

.svg {
  width: 300px;
  height: 300px;
}


:root {
  --dark-bg: hsla(204, 100%, 60%, 0.397);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  user-select: none;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    /* background: var(--dark-bg); */
    grid-column: 2 / span 4;
    font-size: 2.0rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }




