*
{
    padding: 0;
    margin: 0;
}

body,
html
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
  }
  
  .loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(180deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
  
    25% {
      height: 0%;
    }
  
    50% {
      height: 100%;
    }
  
    75% {
      height: 100%;
    }
  
    100% {
      height: 0%;
    }
  }

.leftbutton {
    
    left: 0px;
    bottom: 0px;
    transform: rotate(180deg);
    float:left;
}

.rightbutton {
  right: 0px;
  bottom:0px;
  float: right;
}

.arrows, .waittext {
    user-select: none;
    position: absolute;
    z-index: 109;
    width: 100%;
    height: 10px;
    transform: scale(0.6);
  
} 

.waittext {
  font-size: 30px;
  color:#fff;
  font-family: 'Permanent Marker', cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  user-select: none;
}

.arrows {
  display: none;

}
